.titulo{
    color: green;
    height: 1px;
}

.titulo2{
    width: 100%;
    font-size: 30px;
    display: inline-block;
    padding: 20px 5px 10px 350px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.historial{
    grid-column: 1/3;
    padding: 10px 40px 40px 40px;
    
}

.historial_dish_container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(0, 128, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 250px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.linea{
    padding: 1pt 10px 5px 30px;
}

.linea2{
    padding: 10px 10px 5px 380px;
}
.linea3{

    padding: 10px 10px 5px 80px;
}

.historial_dish_select_container{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: green;
    font-size: 18px;
}

.nueva_orden_add_dish_select{
    width: 100%;
    border-radius: 10px;
    border: 2px solid rgba(0, 128, 0, 0.5);
    color: green;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 5px;
}

.nueva_orden_add_dish_select:focus{
    background-color: rgba(0, 128, 0, 0.1);
    border: 2px solid rgba(0, 128, 0, 0.5);
}

.nueva_orden_add_dish_considerations_container{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: green;
    font-size: 18px;
}

.nueva_orden_add_dish_considerations{
    border: 2px solid rgba(0, 128, 0, 0.5);
    border-radius: 10px;
    resize: none;
    padding: 5px 10px;
}

.nueva_orden_add_dish_considerations::placeholder{
    color: rgba(0, 128, 0, 0.5);
}

.nueva_orden_add_dish_considerations:focus{
    border: 2px solid rgba(0, 128, 0, 0.5);
    outline: none !important;
}

.nueva_orden_add_dish_qty_container{
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: green;
    font-size: 18px;
}

.nueva_orden_add_dish_qty_container input{
    width: 80px;
    border: 2px solid rgba(0, 128, 0, 0.5);
    border-radius: 10px;
    resize: none;
    padding: 5px 10px;
}

.nueva_orden_add_dish_qty_container input:focus{
    border: 2px solid rgba(0, 128, 0, 0.5);
    outline: none !important;
}

.nueva_orden_add_dish_send{
    width: calc(100% - 40px);
    display: flex;
    justify-content: end;
}

.nueva_orden_add_dish_send a{
    transition: .5s;
    text-align: center;
    padding: 2px 5px;
    width: 200px;
    border-radius: 10px;
    color: green;
    border: 2px solid rgba(0, 128, 0, 0.5);
}

.nueva_orden_add_dish_send a:hover{
    transition: .5s;
    background-color: rgba(0, 128, 0, 0.2);
}

.nueva_orden_ticket{
    grid-column: 2/3;
    padding: 40px 40px 40px 20px;
}

.nueva_orden_ticket_container{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(0, 128, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nueva_orden_ticket_final{
    width: calc(100% - 40px);
    height: 80%;
    border-radius: 10px;
    border: 2px solid rgba(0, 128, 0, 0.5);
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.nueva_orden_ticket_final_items_title{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    color: green;
}

.nueva_orden_ticket_final_items_title span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nueva_orden_ticket_final_items_title_left{
    border-right: 2px dashed rgba(0, 128, 0, 0.5);
}

.nueva_orden_ticket_final_items{
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/10;
    border-top: 2px dashed rgba(0, 128, 0, 0.5);
    border-bottom: 2px dashed rgba(0, 128, 0, 0.5);
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    color: green;
    gap: 10px;
    overflow: scroll;
}

.nueva_orden_ticket_final_item{
    grid-column: 1/3;
    grid-template-columns: repeat(2, 1fr);
    display: grid;
}

.nueva_orden_ticket_final_item span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nueva_orden_ticket_final_item_name{
    display: flex;
    flex-direction: column;
}

.nueva_orden_ticket_final_item_name span{
    color: rgba(0, 128, 0, 0.8);
}

.nueva_orden_ticket_final_total{
    background-color: blue;

}


.content-history{
    grid-column: 2/5;
    grid-row: 1/6;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.history-title{
    display: flex;
    justify-content: center;
    width: 100%;
    color: green;
    text-align: center;
    font-size: 35px;
}

.history-container{
    border: 3px solid rgba(0, 128, 0, 0.5);
    width: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 10px;
}

.history-container-titles{
    font-size: 20px;
    color: green;
    text-align: center;
    border-bottom: 2px dashed rgba(0, 128, 0, 0.5);
}

#history-container-title1{
    grid-column: 1/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px dashed rgba(0, 128, 0, 0.5);
}

#history-container-title2{
    grid-column: 4/5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px dashed rgba(0, 128, 0, 0.5);
}

#history-container-title3{
    grid-column: 5/7;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-container-orders{
    grid-column: 1/7;
    grid-row: 2/7;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    overflow: scroll;
}

.history-container-order{
    transition: .5s;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 10px;
}

.history-container-order1{
    transition: .5s;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 10px;
}

.history-container-order:hover{
    transition: .5s;
    background-color: rgba(0, 128, 0, 0.2);
}

.history-container-order1:hover{
    transition: .5s;
    background-color: rgba(0, 128, 0, 0.2);
}

.history-container-order span{
    color: green;
}

.history-container-order1 span{
    color: green;
}

#history-container-order-title1{
    border-radius: 10px;
    transition: .5s;
    grid-column: 1/4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: separate;
    border-spacing: 1px 100px;
}

#history-container-order-title1:hover{
    transition: .5s;
    background-color: rgba(0, 128, 0, 0.3);
}

#history-container-order-title2{
    border-radius: 10px;
    transition: .5s;
    grid-column: 4/5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: separate;
    border-spacing: 1px 100px;
}

#history-container-order-title2:hover{
    transition: .5s;
    background-color: rgba(0, 128, 0, 0.3);
}

#history-container-order-title3{
    border-radius: 10px;
    transition: .5s;
    grid-column: 5/7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-collapse: separate;
    border-spacing: 1px 100px;
}

#history-container-order-title3:hover{
    transition: .5s;
    background-color: rgba(0, 128, 0, 0.3);
}

#historycontainerordertitle1{
    border-radius: 10px;
    transition: .5s;
    grid-column: 1/4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#historycontainerordertitle1:hover{
    transition: .5s;
    background-color: rgba(0, 128, 0, 0.3);
}

.historycontainerordertitle2{
    border-radius: 10px;
    transition: .5s;
    grid-column: 4/5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



.historycontainerordertitle3{
    border-radius: 10px;
    transition: .5s;
    grid-column: 5/7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
