.home_bg{
    grid-column: 1/3;
}

.home_display{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home_title{
    font-size: 40px;
    color: rgb(0, 100, 0);
    text-align: center;
    letter-spacing: 2px;
}

.home_text{
    font-size: 30px;
    color: green;
    letter-spacing: 2px;
}

.home_indicators_display{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.home_indicators_container{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.home_indicator{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home_indicator_title_container{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home_indicator_title{
    font-size: 22px;
    color: rgb(0, 158, 0);
    letter-spacing: 2px;
}

.home_indicator_item{
    font-size: 22px;
    color: rgb(0, 186, 0);
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#button_350px{
    width: 350px;
}

#button_350px:hover{
    width: 350px;
}

.home_nueva_orden_button{
    transition: 1s;
    width: 300px;
    height: 40px;
    background-color: rgb(2, 172, 2);
    padding: 3px 5px;
    font-size: 20px;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
}

.home_nueva_orden_button:hover{
    width: 320px;
    transition: 1s;
    background-color: rgb(2, 197, 2);
}

input[type="text"]{
    font-size: 0.8em;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.2em;
    align-items: center;
    border-color: blue;
    border-width: 2px;
}

input[type="password"]{
    font-size: 0.8em;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.2em;
    align-items: center;
    border-color: blue;
    border-width: 2px;
}

input[type="submit"]{
    font-size: 0.8em;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    border-width: 2px;
    font-weight: bold;
}

input[type="reset"]{
    font-size: 0.8em;
    border-radius: 10px;
    margin: 0.5em;
    padding: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
    border-width: 2px;
    font-weight: bold;
}

.nueva_orden_add_dish_container2{
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: 3px solid rgba(0, 128, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50%;
}

.login{
    font-family: Arial, Helvetica, sans-serif;
}

.nueva_orden_add_dish2{
    grid-column: 1/2;
    padding: 40px 10px 10px 10px;
}

.nueva_orden_add_dish_send{
    width: calc(100% - 40px);
    display: flex;
    justify-content: end;
    cursor: pointer;
}
